
/* common colors use in whole app */
:root{
  --linear-background:linear-gradient(#4F99DD,#6A50B2);
  --white: #ffffff;
  --black:#000000;
  --off-white:#F6F6F6;
  --purple:#6A50B2;
  --muted-purple:#b9aed4;
  --sky-blue:#4F99DD;
  --dark-gray:#8B8B8B;
  
}


/* css for whole website body */
body{
  background-color: var(--white);
  color: var(--black);
  display: block;

}



/*css for hide and show pages on the basis of width screensizes */
.AllContent{
  display: block;
}
.ShortScreenMsg{
  display: none;
}

/* Media query to hide content when screen is less than 1300px */
@media (max-width: 1299px) {
  .AllContent{
    display: none;
  }
  .ShortScreenMsg{
    display: block;
  }
}

/*css for all links and inputs  */
.Link{
  text-decoration: none;
}

input{
  border: 1px solid var(--muted-purple);
 }

/* chart button css */
.chart-btn{
background-color: #6a50b242 ;
border: none;
border-radius: 10px;
color: var(--white);
display: flex;
justify-content: space-between;
align-items: center;
}





/* css for dashboard starts here */
.main{
  width:100%;
  height: 100%;
  display: flex;
}
.sidebar{
  width: 17%;
  height: 100%;
  background:var(--linear-background);
    border-radius: 0px 40px 0px 0px;
}
.components{
  width: 83%;
  background-color: var(--white) ;
  padding: 0px 10px 10px 10px;
}
/* css for dashboard ends here */


/* css for img of cancel and complete order div in businessUser.js */
 .orders{
  background-color: var(--muted-purple);
 align-items: center;
 display: flex;
 justify-content: center;
  border-radius: 100%;
  width: 90px;
  height: 90px;
 }
 

.progress-container{
overflow: auto;
height: 140px;
}
.progress-container::-webkit-scrollbar{
  width: 10px;
  background-color: #D9D9D9;
    border-radius: 10px;
}
.progress-container::-webkit-scrollbar-thumb{
  background-color: #6a50b25f;
  border-radius: 5px;
}





